body{
	margin: 0; 
	padding: 0;
} 
form{
	font-size: 10px;
	background: white; 
	max-width: 500px;
	margin: 0 auto;
	padding:  0 10px 10px 10px;
}
h1{
	color: #333;
}
input, textarea{
	width: 470px;
	padding: 10px;


}
.enviar input{
	background: #069;
	height: 40px;
	width: 150px;
	font-weight: bold;
	border-radius: 5px; 
	border: 1px solid;
	color: #fff;
	cursor: pointer;;
}
